[submodule "ACDS-IMG-Test"]
	path = ACDS-IMG-Test url = git@github.com:AlaskaResearchCubeSat/ACDS-IMG-Test.git
[submodule "ACDS-Test"]
	path = ErrorLib
	url = git@github.com:AlaskaResearchCubeSat/ACDS-Test.git
[submodule "CDH-Test"]
	path = ACDS-Test
	url = git@github.com:AlaskaResearchCubeSat/CDH-Test.git
[submodule "COMM-Test"]
	path = CDH-Test
	url = git@github.com:AlaskaResearchCubeSat/COMM-Test.git
[submodule "IMG-Test"]
	path = COMM-Test	url = git@github.com:AlaskaResearchCubeSat/IMG-Test.git
[submodule "LEDL-Test"]
	path = IMG-Test
	url = git@github.com:AlaskaResearchCubeSat/LEDL-Test.git
